.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    background-color: #fffff0;
    font-family: Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 7vw;
    font-weight: normal;
}

h2 {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
}

h3 {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
}

footer {
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin-top: 100px;
}

.youtube-video-centered {
    text-align: center;
}

.video {
    aspect-ratio: 16 / 9;
    width: 55% !important;
}

.home-page-vid-title {
    margin-top: 80px;
}

.page-banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}

.navigation {
    display: flex;
    justify-content: center;
}

.navigation a {
    float: center;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px
}

.navigation a:active {
    background-color: #f7ffcc;
    color:black;
}

.gallery-container {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 70px;
}

div.image-gallery {
    border: 10px solid #effdd8;
    border-radius: 8%; 
}

div.image-gallery:hover {
    border: 10px solid #e2fac2;
}

div.image-gallery img {
    width: 100%;
    height auto;
}

div.image-desc {
    padding: 10px;
    background-color:#effdd8;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.responsive-image-gallery {
    display: inline-flex;
    vertical-align: top;
    width: 24.99999%;
    padding: 0 5px 10px;
    box-sizing: border-box;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.image-gallery img {
    width: 100%;
    display: block;
}

.image-desc {
    margin-top: auto;
    padding: 10px 0 0;
    text-align: center;
}

@media only screen and (max-width: 700px) {
  .responsive-image-gallery {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive-image-gallery {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}