
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    background-color: #fffff0;
    font-family: Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 5em;
    font-weight: normal;
}

h2 {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
}

footer {
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin-top: 100px;
}

.main-section-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


.page-banner {
    display: block;
    margin: 0 auto;
    width: 1000px;
    object-fit: cover;
}